@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik&display=swap');:root {
  --blue-custom: rgb(49, 39, 131);
  --orange-custom: rgb(241, 136, 5);
  --linear-custom: linear-gradient(90deg, #9BE24B, #CD4BE3);
}

body {
  background-color: black;
}


body::-webkit-scrollbar {
  width: 1px;
  background-color: black;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #FF416C, #FF4B2B, #FF416C, #FF4B2B);
  outline: 1px solid #FF416C;
  ;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.navbar-custom {
  /* background: linear-gradient(rgb(77, 77, 77), rgba(77, 77, 77, 0)); */
  height: 100px;

  background: linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0));
}

/* .bg-home-custom {
  background-color: rgb(19, 33, 14, 0.4);
} */

.bg-home-custom {
  background-color: rgba(0, 0, 0, 0.603);
}

.bg-home-custom {
  background-color: rgba(0, 0, 0, 0.603);
}

.monoton-font {
  font-family: Monoton, Arial, Helvetica, sans-serif;
}

/* .monoton {
  font-family: Monoton, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0 0 10px #FF4B2B, 0 0 20px #FF4B2B, 0 0 30px #FF4B2B, 0 0 40px #FF416C, 0 0 70px #FF416C, 0 0 80px #FF416C, 0 0 100px #FF416C, 0 0 150px #FF416C;
  background-image: linear-gradient(to right, #FF416C, #FF4B2B, #FF416C, #FF4B2B);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.3s ease;
} */


.monoton-title {
  font-family: Monoton, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0 0 10px #FF4B2B, 0 0 20px #FF4B2B, 0 0 30px #FF4B2B, 0 0 40px #FF416C, 0 0 70px #FF416C, 0 0 80px #FF416C, 0 0 100px #FF416C, 0 0 150px #FF416C;
  background-image: linear-gradient(to right, #FF416C, #FF4B2B, #FF416C, #FF4B2B);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.3s ease;
  animation: neon-effect 2s infinite;
}

@keyframes neon-effect {
  0% {
    text-shadow: 0 0 10px #FF4B2B, 0 0 20px #FF4B2B, 0 0 30px #FF4B2B, 0 0 40px #FF416C, 0 0 70px #FF416C, 0 0 80px #FF416C, 0 0 100px #FF416C, 0 0 150px #FF416C;
  }
  50% {
    text-shadow: 0 0 5px #FF4B2B, 0 0 10px #FF4B2B, 0 0 15px #FF4B2B, 0 0 20px #FF416C, 0 0 35px #FF416C, 0 0 40px #FF416C, 0 0 50px #FF416C, 0 0 75px #FF416C;
  }
  100% {
    text-shadow: 0 0 10px #FF4B2B, 0 0 20px #FF4B2B, 0 0 30px #FF4B2B, 0 0 40px #FF416C, 0 0 70px #FF416C, 0 0 80px #FF416C, 0 0 100px #FF416C, 0 0 150px #FF416C;
  }
}





/* .monoton {
  font-family: Monoton, Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 0 0 10px #9BE24B, 0 0 20px #9BE24B, 0 0 30px #9BE24B, 0 0 40px #CD4BE3, 0 0 70px #CD4BE3, 0 0 80px #CD4BE3, 0 0 100px #CD4BE3, 0 0 150px #CD4BE3;
  background-image: linear-gradient(to right, #9BE24B, #CD4BE3);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.3s ease;
} */

.rubik {
  font-family: Rubik, Arial, Helvetica, sans-serif;
}

.button-primary {
  background-image: var(--linear-custom);
  padding: 16px 32px;

  font-weight: bold;
  font-size: 16px;
  
  border-radius: 100px;
  border: solid white 2px;
}

.button-secondary {
  padding: 16px 32px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 100px;
  border: 2px solid transparent; 
  border-image: linear-gradient(90deg, #9BE24B, #CD4BE3) 1;
  
}

.btn-gradient-2 {
  background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
  padding: 16px 32px;
  font-weight: bold;
  font-size: 16px;
}


.button-rounded {
  padding: 12px 24px;
  border-radius: 25px;
  border: 2px solid transparent;
  background-color: transparent;
  background-image: linear-gradient(to right, #FF416C, #FF4B2B, #FF416C, #FF4B2B);
  /* background-size: 200% auto; */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

/* .button-rounded:hover {
  border-color: white;
  background-position: right center;
} */

.button-rounded:hover {
  box-shadow: 0 0 10px #FF4B2B, 0 0 20px #FF4B2B, 0 0 30px #FF4B2B;
}



.button-rounded2 {
  padding: 12px 24px;
  border-radius: 25px;
  border: 2px solid transparent;
  background-color: transparent;
  background-image: linear-gradient(to right, #FF416C, #FF4B2B, #FF416C, #FF4B2B);
  /* background-size: 200% auto; */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px #FF4B2B, 0 0 20px #FF4B2B, 0 0 30px #FF4B2B;
  transition: all 0.3s ease;
}

/* .button-rounded:hover {
  border-color: white;
  background-position: right center;
} */

.button-rounded2:hover {
  box-shadow: 0 0 20px #FF4B2B, 0 0 40px #FF4B2B, 0 0 60px #FF4B2B;
  transform: translateY(-3px);
}







/* .button-2 {
  padding: 12px 24px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 100px;
  border: 2px solid white;
  background-color: transparent;
  color: transparent;
  background-clip: padding-box;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #FF416C, #FF4B2B, #FF416C, #FF4B2B);
  -webkit-background-clip: text;
  border-color: white;
} */

.button-2 {
  padding: 12px 24px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 100px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  border-color: white;
  transition: all 0.3s ease-in-out;
}

.button-2:hover {
  background-image: linear-gradient(to right, #FF416C, #FF4B2B, #FF416C, #FF4B2B);
  border-color: transparent;
}





.button-rounded2-green {
  padding: 12px 24px;
  border-radius: 25px;
  border: 2px solid transparent;
  background-color: transparent;
  background-image: linear-gradient(to right, #56D8B7, #4ED4A4, #56D8B7, #4ED4A4);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px #4ED4A4, 0 0 20px #4ED4A4, 0 0 30px #4ED4A4;
  transition: all 0.3s ease;
}

.button-rounded2-green:hover {
  box-shadow: 0 0 20px #4ED4A4, 0 0 40px #4ED4A4, 0 0 60px #4ED4A4;
  transform: translateY(-3px);
}





.black-gradient-custom {
  background: linear-gradient(360deg, rgb(0, 0, 0), rgba(0, 0, 0, 0));
}






.button-rounded3 {
  padding: 12px 24px;
  border-radius: 25px;
  border: 2px solid transparent;
  background-color: black;
  background-image: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 10px #FF4B2B;
  transition: all 0.3s ease;
}

.button-rounded3:hover {
  box-shadow: 0 0 20px #FF4B2B, 0 0 40px #FF4B2B, 0 0 60px #FF4B2B;
  transform: translateY(-3px);
  background-color: transparent;
  background-image: linear-gradient(to right, #FF416C, #FF4B2B, #FF416C, #FF4B2B);
  color: white;
}


.header-custom {
  position: static;
}

@media screen and (min-width: 768px) {
  .header-custom {
    position: absolute;
  }
}